---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { getCollection, getEntry } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import '../_mdx_styles.css'

// export const prerender = true

export async function getStaticPaths({ paginate }) {
  const allBlogPosts = await getCollection('project')
  return allBlogPosts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post: post,
    },
  }))
}

export interface Props {
  post: CollectionEntry<'project'>
}

const { slug } = Astro.params
const post = await getEntry('project', slug)

if (!post) {
  return Astro.redirect('/404')
}

const { Content } = await post.render()

const wpm = 225
const words = post.body.trim().split(/\s+/).length
const time = Math.ceil(words / wpm)
---

<DefaultLayout title={post.data.title} description={post.data.description} image={post.data.image.src}>
  <section class="my-12">
    <div class="container">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/project" label="Projects" />
        <BreadcrumbsItem currentPage={true} label={post.slug} />
      </Breadcrumbs>
    </div>
  </section>
  <article class="my-12">
    <div class="container">
      <Content
        date={post.data.date.toLocaleDateString('en-US', {
          weekday: 'long',
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        })}
        time={time}
        data={post.data}
      />
    </div>
  </article>
  <div class="container !mt-16">
    <h6 class="text-xl">Leave a Comment</h6>
    <section class="giscus"></section>
  </div>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

<script
  is:inline
  src="https://giscus.app/client.js"
  data-repo="SaminYaser-work/portfolio"
  data-repo-id="R_kgDOKYENvQ"
  data-category="Comments"
  data-category-id="DIC_kwDOKYENvc4Cdc21"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
