---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";
import { Breadcrumbs, BreadcrumbsItem, Card, Pagination } from "accessible-astro-components";
import CustomCard from "../../components/CustomCard.astro";
import Alert from "../../components/Alert.astro";
import {gh} from "../../data.tsx";

let projects = await getCollection("project", (project) => !project.data.draft);

projects.sort(
  (a, b) =>
    Math.floor(new Date(b.data.date).getTime() / 1000) -
    Math.floor(new Date(a.data.date).getTime() / 1000)
);
---

<DefaultLayout
  title="Projects"
  description="A list of all my projects"
>
  <section class="my-12">
    <div class="container">

     <Alert>
       I am currently in the process of migrating my projects from my old website to this one. Please visit my <a target="_blank" href={gh}>GitHub</a> in the meantime for a full list of my projects.
     </Alert>

      <Breadcrumbs>
        <BreadcrumbsItem
          href="/"
          label="Home"
        />
        <BreadcrumbsItem
          href="/project"
          label="Projects"
        />
      </Breadcrumbs>
    </div>
  </section>

  <section class="my-12">
    <div class="container">
      <!--<p class="text-sm"><em>Post {page.start + 1} through {page.end + 1} of {page.total} total posts</em></p>-->
      <h1 class="text-4xl font-bold mb-6">My Projects</h1>
      <ul class="my-3">
        {
          projects.map((project) => (
            <CustomCard
              title={project.data.title}
              description={project.data.description}
              img={project.data.image}
              url={`/project/${project.slug}`}
              tags={project.data.tags}
            />
          ))
        }
      </ul>
      <!--<div class="mt-12 grid place-content-center">-->
      <!--    <Pagination-->
      <!--            firstPage={page.url.prev ? '/blog' : null}-->
      <!--            previousPage={page.url.prev ? page.url.prev : null}-->
      <!--            nextPage={page.url.next ? page.url.next : null}-->
      <!--            lastPage={page.url.next ? `/blog/${Math.round(page.total / page.size)}` : null}-->
      <!--            currentPage={page.currentPage}-->
      <!--            totalPages={Math.round(page.total / page.size)}-->
      <!--    />-->
      <!--</div>-->
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
