---
import Section from '../../components/Section.astro'
import { getCollection } from 'astro:content'
import CustomCard from '../../components/CustomCard.astro'

const latestBlogs = await getCollection('blog', (blog) => !blog.data.draft)
latestBlogs.sort((a, b) => new Date(b.data.date) - new Date(a.data.date)).slice(0, 3)
---

<Section title="Latest Posts">
  <ul id="blogs" class="my-3">
    {
      latestBlogs.map((blog) => (
        <CustomCard
          title={blog.data.title}
          description={blog.data.description}
          img={blog.data.image}
          url={`/blog/${blog.slug}`}
          tags={blog.data.tags}
        />
      ))
    }
  </ul>
  <div class="mt-16 w-full">
    <a
      href="/blog"
      class="cta-button1 group float-right ml-auto cursor-pointer rounded-lg border border-onemagenta px-4 py-2 font-bold !no-underline"
    >
      <span
        class="!text-oneblack transition-colors duration-200 ease-in-out group-hover:!text-oneblack dark:!text-onewhite"
      >
        See All Blog Posts &rarr;
      </span>
    </a>
  </div>
</Section>

<style lang="scss">
  #blogs {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
