---
import Feature from "../../components/Feature.astro";
import Section from "../../components/Section.astro";
import { jobInfo } from "../../data";
---
<Section title="Experience">
  <div class="grid grid-cols-1 gap-14">
    {
      jobInfo.map(job => {
        return (
          <Feature icon={job.icon} title={job.title} subtitle={job.subtitle}
                   timeline={job.timeline} skills={job.skills}>
            <ul class="text-justify list-disc text-pretty">
              {
                job.description.map(desc => {
                  return (
                    <li>{desc}</li>
                  );
                })
              }
            </ul>
          </Feature>
        );
      })
    }
  </div>
</Section>